@import url('https://fonts.googleapis.com/css2?family=Playwrite+US+Modern:wght@100..400&display=swap');
h1 {
     background-color: blue;
 }

 h2 {
     background-color: aquamarine;

 }

 th {
     background-color: aquamarine;
 }
 table,
 th,
 td,tr{
    border: 2px solid;border-color: blue;
 }

 table
  {
     
    border-collapse: collapse;
 }

 .head {
     background-color: bisque;
 }
 body{
  font-family: "Playwrite US Modern", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 }