.container{
    height: 400px;
    width: 400px;
    margin-top: 10px;
    padding: 20px;
    background-color: greenyellow;
    background: radial-gradient(circle,
    rgb(140, 22, 220) 0%, rgb(14, 190, 181) 100%);
}
h1 {
   text-align: center;
}

form {
   display: flex;
   flex-direction: column;
   padding: 10px;
}

label {
   margin-top: 15px;

}

input {
   margin-top: 6px;
   
   height: 25px;
   border-radius: 5px;
   border-color: transparent; 
}

button {
   height: 30px;
   width: 90px;
   border-radius: 5px;
   background-color:rgba(89, 233, 50, 0.96);
   align-self:center;

}
/* .main{ */
    /* height: 500px; */
    /* width: 500px; */
    /* background-color: aquamarine; */
    /* display: flex; */
    /* justify-content:s; */
    /* flex-direction: column-reverse; */
/* } */
/* .inner-div{ */
    /* height: 100px; */
    /* width: 100px; */
/* } */
/* #inner-div1{ */
    /* background-color: gold;
}
#inner-div2{
    background-color: black;

}
#inner-div3{
    background-color: brown;
}
#inner-div4{
    background-color: blue;
}
#inner-div5{
    background-color: green;
}
#inner-div6{
    background-color: crimson;
    order: 7;
}
#inner-div7{
    background-color: darkblue;
}
#inner-div8{
    background-color: deeppink;
}
#inner-div9{
    background-color: darkslategray;
} */
